.wrapper {
  background: url(./images/emptydiner.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(231, 3, 60);
  min-height: 100vh;

  text-align: center;
}

.header {

  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: calc(10px + 2vmin);
}

.header img {
  animation: blink 5s;
  animation-iteration-count: infinite;
  border-radius: 20px;
  height: 50vh;
  margin: auto;
}

h3 {
  font-weight: bold;
  text-shadow: 2px 2px #050505;
}

h4 {
  font-weight: bold;
  text-shadow: 2px 2px #050505;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 30vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% {
      filter: brightness(100%);
  }
  50% {
      filter: brightness(0%);
  }
  100% {
    filter: brightness(100%);
  }
}
